* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #27455C; 
    background-image: url('./img/potfolio-background.png');
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    width: 100%;
  }

  .header{
    position: fixed;
    width: 100%;
    height: 18vh;
    top: 0;
    left: 0;
    border-bottom: 1px solid #00adb5; 
    background-color: #151C21;
    opacity: 90%;
    z-index: 50;
    padding: 0 5vw;

  }
  
  .header__container{
    width: 100%;
    height: 90%;
    /* background-color: red; */
    display: flex; 
    align-items: center;
    justify-content: space-between;
    /* padding-top: 30px; */
    /* /* padding-bottom: 30px; */
  }

  .myName, .title {
    font-family: 'Open Sans', sans-serif; font-weight: 500;

    /* font-family: 'Vazirmatn', sans-serif;
    font-weight: 500; */
  }

  .myName {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 0rem;
    margin-top: 24px;
  }
  
  .title{
    font-size: 1.1rem;
    line-height: 1.5;
    color: #eeeeee;
  }

  .title span{
  color: #00adb5;
  }

  .header__menu {
    /* background-color: green; */
    display: flex;
    align-items: flex-end;
    height: 17vh;
  }

  .menu__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 3px;
    align-items: center;
    /* background-color: yellow; */
  }

  .menu__link{
    font-size: 1.3rem;
    text-decoration: none;
    color: #eeeeee;
    transition: color 0.3s ease 0s;
  }

  .menu__link:hover{
    border-bottom: 5px solid #00adb5;
    /* color: #00adb5;  */
    }

/********** ALL SECTIONS ***************/

    #portfolio, #about, #contact {
      /* font-family: 'Vazirmatn', sans-serif;    font-weight: 500; */
      font-family: 'Open Sans', sans-serif; font-weight: 500;
      padding-top: 22vh;
    }
    
    .section_title{
      text-align: left;
      margin-left: 10vw;
      margin-bottom: 2vh;
      font-size: 1.5rem;
      color: #00adb5;
    }


/********** ABOUT ***************/

section.about {
  height: 100vh;
}

  .subtitle {
    color: #00adb5;
    font-size: 1.3rem;
  }
  
  .text {
    color:#8fd5d8;
    font-size: 1.1rem;
  }

  .about_image {
    margin-top: 1vh;
    width: 8%;
    margin-left: 10vw;
  }

  .about_image img{
    width: 100%;
    /* border: 1px solid white; */
  }

  .about__content{
    margin: 0px 22vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 8fr;
    /* border: 2px green solid; */
  }
  
#about_left{
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 2px red solid; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin-right: 30px;
}

#about_left div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: white;
  border: solid 3px #00adb5;
  padding: 8px;
  margin: 0px;
  border-radius: 20px;
  transition: ease-in-out 200ms;
}

#about_left div img {
width: 100%;  
padding: 0;
margin: 0;
}

#about_left div:nth-of-type(2) img{
  width: 85%;
}

#about_left div:nth-of-type(7) img{
  width: 170%;
}

#about_right{
    width: 100%;
    border-left: 2px solid #00adb5;
    /* border: 2px yellow solid; */
}

#about_right p {
  /* width: 80%; */
  /* border-radius: 10px; */
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  /* padding-left: 3px; */
  /* padding-top: 2px; */
  /* padding-bottom: 2px ; */
}


#tools {
  margin-left: 0;
  margin-bottom: 0.5rem;
}

#about_left div:hover {
  /* margin-right: 5px; */
  width: 120px;
  height: 120px;
}


#skills {
  margin-left: 2rem;
  margin-bottom: 0.5rem;

}

/********** PROJECT ***************/

.projects_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.project {
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Hind Madurai', sans-serif;
  line-height: 1.6rem;
  border-radius: 8px;
  border: 2px solid #00adb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25vw;
  width: 25vw;
  padding: 6px;
  background-color: rgba(230, 230, 230, 0.753);
  color: black;
}

.stack {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
}


/********** CONTACT ***************/

.contact_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_grid {
  margin-bottom: 15vw;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
}

.contact_box {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 0.8rem;
}

.contact_box i {
  font-size: 3rem;
  color: #8fd5d8;
  margin: 16px ;
}

.contact_box p {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
  color: #00adb5;
}

.contact_box a {
  color: #00adb5;
}

